 .container{
    background-color: rgb(29, 224, 15);
    display: grid;
    grid-template-columns:30% 30% 30%;
    justify-content: space-evenly;
}

.main{
    height: 75vh;
    background-color: rgb(234, 209, 234);
    border: 2px solid black;
    margin: 2%;
    cursor: pointer;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 #000000e6, 0 6px 20px 0 #3626e1e6;
}

.main:hover{
    transform: rotate(90deg);
    transform : translateX(10px); 
    transform: translateY(10px);
    transition: 0.5s;
    color: red;
    color: green;
}

.image{
    border-radius: 2%;
}

.namesDiv{
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}